@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    display: block;
    color: #fff;
}
body {
    background: url(../img/backgroundimg01.jpeg) center no-repeat;
}
@mixin poistion_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#container {
    color: #fff;
    font-size: 1em;
}

.m_wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 2em;
    font-size: 1.8em;
    z-index: 10;

    .logo {
        margin-bottom: 5em;
    }

    .media {
        margin-top: 1em;
    }

    nav {
        div {
            p {
                margin: 1em 0;
            }

            ul {

                li {

                    a {
                        color: #fff;
                    }
                }
            }
        }
    }
}

main {

    > div {
        position: absolute;
        top: 15em;
        left: 60em;
        z-index: 1;

        &.ball {
            position: absolute;
        }
        
        &.image01 {
            width: 20em;

            img {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width:400px) {
    .m_wrap {
        transform: translateY(-40%);
    }
}