@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    display: block;
    color: #333;
}
body {
    margin: 0 auto;
}
@mixin poistion_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#container {
    height: 100vh;
    width: 100%;
    background: no-repeat center url(../img/backgroundimg01.jpeg);
    background-size: cover;
}

#menu_wrap {
    position: absolute;
    top: 2em;
    left: 4em;
    z-index: 10;
    font-size: 2em;
}

main {
    width: 100%;
    height: 100%;
    @include poistion_center();

    .main_img {
        width: 20em;
        position: absolute;
        top: 20%;
        left: 30%;
        z-index: 2;

        img {
            width: 100%;
        }
    }
}